<app-header></app-header>

<div >

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1 class="mb-4">Welcome to Package Delivery</h1>
      <p>
        Embark on a seamless journey with Package Delivery, where we redefine
        convenience and efficiency in delivering packages tailored to your
        terms. Our mission is to empower individuals by providing a personalized
        and flexible delivery experience. With Package Delivery, you're not just
        sending packages; you're crafting your delivery experience, ensuring it
        arrives at its destination efficiently, on your own time, and according
        to your terms. Trust us to navigate the path to convenience, offering a
        service that adapts to your unique needs and schedules. Choose Package
        Delivery, where your parcels are more than deliveries—they're
        expressions of your time, tailored to your world.
      </p>
    </div>
  </div>
</div>
