<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<app-header></app-header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-white mb-5">
        <div class="card-header clearfix border-bottom mb-4">
          <h4 class="card-title">My Requests</h4>
        </div>

        <div class="card-body" *ngFor="let item of listOfRequests">
          <div *ngIf="item['delivery'] !== null">
            <ul class="list-unstyled">
              <li class="position-relative booking">
                <div class="media">
                  <div class="msg-img"></div>
                  <div class="media-body">
                    <h5 class="mb-4">
                      Status:
                      <label class="btn-group" role="group" aria-label="Status">
                        <input
                          type="radio"
                          class="btn-check"
                          name="status {{ item['id'] }}"
                          [id]="'pending' + item['id']"
                          autocomplete="off"
                          [checked]="item['status'] === 'pending'"
                        />
                        <label
                          class="btn btn-outline-danger mx-1"
                          [for]="'pending' + item['id']"
                          (click)="statusUpdate('pending', item['id'])"
                          >Pending</label
                        >

                        <input
                          type="radio"
                          class="btn-check"
                          name="status {{ item['id'] }}"
                          [id]="'in-progress' + item['id']"
                          autocomplete="off"
                          [checked]="item['status'] === 'in_progress'"
                        />
                        <label
                          class="btn btn-outline-primary mx-1"
                          [for]="'in-progress' + item['id']"
                          (click)="statusUpdate('in_progress', item['id'])"
                          >In Progress</label
                        >

                        <input
                          type="radio"
                          class="btn-check"
                          name="status {{ item['id'] }}"
                          [id]="'complete' + item['id']"
                          autocomplete="off"
                          [checked]="item['status'] === 'complete'"
                        />
                        <label
                          class="btn btn-outline-success mx-1"
                          [for]="'complete' + item['id']"
                          (click)="statusUpdate('complete', item['id'])"
                          >Complete</label
                        >
                      </label>
                    </h5>

                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >From:</span
                      >
                      <span class="bg-light-blue">{{ item["current"] }} </span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >To:</span
                      >
                      <span class="bg-light-blue">{{
                        item["destination"]
                      }}</span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >Package Size:</span
                      >
                      <span class="bg-light-blue">{{
                        item["package_size"]
                      }}</span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >Price:</span
                      >
                      <span class="bg-light-blue">{{ item["price"] }}</span>
                    </div>

                    <div class="mb-5">
                      <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0"
                        >Clients:</span
                      >
                      <span class="border-right pr-2 mr-2">
                        {{ getCreatorById(item["creator"])!.username }}</span
                      >
                      <span class="border-right pr-2 mr-2"
                        ><a
                          href="mailto:{{
                            getCreatorById(item['creator'])!.email
                          }}"
                          >{{ getCreatorById(item["creator"])!.email }}</a
                        >
                      </span>
                      <span>
                        <a
                          href="tel:{{
                            getCreatorById(item['creator'])!.phone_number
                          }}"
                          >{{
                            getCreatorById(item["creator"])!.phone_number
                          }}</a
                        ></span
                      >
                    </div>
                  </div>
                </div>
                <div class="buttons-to-right">
                  <button
                    *ngIf="item['status'] !== 'complete'"
                    class="btn btn-gray mr-2"
                    (click)="removeRequest(item['id'])"
                  >
                    <i class="far fa-times-circle"></i>Remove
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="listOfRequests.length == 0">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h3>There are no requests designated to you</h3>
      <br />
    </div>
  </div>
</div>

<!-- Button to remove all requests -->
<div class="text-center mb-3">
  <button class="btn-danger btn-lg" (click)="removeAllRequests()">
    Remove All
  </button>
</div>
