<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<app-header></app-header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-white mb-5">
        <div class="card-header clearfix border-bottom mb-4">
          <h4 class="card-title">All Requests</h4>
        </div>

        <div class="card-body" *ngFor="let item of listOfRequests">
          <div *ngIf="item['delivery'] === null">
            <ul class="list-unstyled">
              <li class="position-relative booking">
                <div class="media">
                  <div class="msg-img"></div>
                  <div class="media-body">
                    <h5 class="mb-4">
                      Status:
                      <span
                        *ngIf="item['status'] === 'pending'"
                        class="badge bg-danger mx-1"
                        >Pending</span
                      ><span
                        *ngIf="item['status'] === 'in_progress'"
                        class="badge bg-primary mx-1"
                        >In Progress</span
                      >
                      <span
                        *ngIf="item['status'] === 'complete'"
                        class="badge bg-success mx-1"
                        >Complete</span
                      >
                    </h5>

                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >From:</span
                      >
                      <span class="bg-light-blue">{{ item["current"] }} </span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >To:</span
                      >
                      <span class="bg-light-blue">{{
                        item["destination"]
                      }}</span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >Package Size:</span
                      >
                      <span class="bg-light-blue">{{
                        item["package_size"]
                      }}</span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >Price:</span
                      >
                      <span class="bg-light-blue">{{ item["price"] }}</span>
                    </div>

                    <div class="mb-5">
                      <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0"
                        >Clients:</span
                      >
                      <span class="border-right pr-2 mr-2">
                        {{ getCreatorById(item["creator"])!.username }}</span
                      >
                      <span class="border-right pr-2 mr-2"
                        ><a
                          href="mailto:{{
                            getCreatorById(item['creator'])!.email
                          }}"
                          >{{ getCreatorById(item["creator"])!.email }}</a
                        >
                      </span>
                      <span>
                        <a
                          href="tel:{{
                            getCreatorById(item['creator'])!.phone_number
                          }}"
                          >{{
                            getCreatorById(item["creator"])!.phone_number
                          }}</a
                        ></span
                      >
                    </div>
                  </div>
                </div>
                <div class="buttons-to-right">
                  <button
                    class="btn btn-gray mr-2"
                    (click)="addRequest(item['id'])"
                  >
                    add
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="listOfRequests.length == 0">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h3>There are no requests</h3>
      <br>
    </div>
  </div>
</div>