<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-white mb-5">
          <div class="card-header clearfix border-bottom mb-4">
            <h4 class="card-title">Delivery Requests</h4>
          </div>
          <div class="card-body">

            <ul class="list-unstyled">
              <li class="position-relative booking">
                <div class="media">
                  <div class="msg-img"></div>
                  <div class="media-body">
                    <h5 class="mb-4">
                      "title"
                      <span class="badge bg-danger mx-3">Pending</span
                      ><span class="badge bg-primary mx-3">In Progress</span>
                      <span class="badge bg-success">Complete</span>
                    </h5>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >From:</span
                      >
                      <span class="bg-light-blue">"location"</span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >To:</span
                      >
                      <span class="bg-light-blue">"location"</span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >Package Size:</span
                      >
                      <span class="bg-light-blue">"Small/Medium/Large"</span>
                    </div>
                    <div class="mb-3">
                      <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                        >Price:</span
                      >
                      <span class="bg-light-blue">$147</span>
                    </div>

                    <div class="mb-5">
                      <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0"
                        >Clients:</span
                      >
                      <span class="border-right pr-2 mr-2">Jaime Cressey</span>
                      <span class="border-right pr-2 mr-2"
                        ><a href="mailto:jaime@example.com"
                          >jaimeexample.com</a
                        ></span
                      >
                      <span><a href="tel:355-456-789">355-456-789</a></span>
                    </div>
                  </div>
                </div>
                <div class="buttons-to-right">
                  <a href="#" class="btn btn-gray mr-2"
                    ><i class="far fa-times-circle me-2"></i>Remove</a
                  >
                </div>
              </li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="fixed-button">
    <a href="#" class="btn btn-primary btn-lg rounded-circle">
      +
    </a>
  </div>
</body>
