<app-header></app-header>

<div class="container register-form">
  <div class="form">
    <div class="note">
      <h1>New Request</h1>
    </div>

    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="To:"
              value=""
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="From:"
              value=""
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <select class="form-select" aria-label="Package Size">
              <option selected disabled>Select Package Size</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Willing to Pay:"
              value=""
            />
          </div>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
