<body>
  <app-header></app-header>
  <br />
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <h1>New Request</h1>
      </div>

      <form [formGroup]="addForm" (ngSubmit)="submitForm()">
        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="From:"
                  formControlName="from"
                />
                <div
                  *ngIf="
                    addForm.get('from')?.invalid &&
                    (addForm.get('from')?.dirty ||
                    addForm.get('from')?.touched)
                  "
                  class="alert"
                >
                  From is required
                </div>
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="To:"
                  formControlName="to"
                />
                <div
                  *ngIf="
                    addForm.get('to')?.invalid &&
                    (addForm.get('to')?.dirty ||
                    addForm.get('to')?.touched)
                  "
                  class="alert"
                >
                  To is required
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <select
                  class="form-select"
                  aria-label="Package Size"
                  formControlName="packageSize"
                >
                  <option value="" disabled>Select Package Size</option>
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
                </select>
                <div
                  *ngIf="
                    addForm.get('packageSize')?.invalid &&
                    (addForm.get('packageSize')?.dirty ||
                    addForm.get('packageSize')?.touched)
                  "
                  class="alert"
                >
                  Package size is required
                </div>
              </div>
              <div class="mb-3">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Willing to Pay:"
                  formControlName="payment"
                  min="0"
                />
                <div
                  *ngIf="
                    addForm.get('payment')?.invalid &&
                    (addForm.get('payment')?.dirty ||
                    addForm.get('payment')?.touched)
                  "
                  class="alert"
                >
                  Payment is required
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!addForm.valid"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>